.burger
{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 40px;
    color: var(--text_color)
}

a
{
    color: var(--text_color)
}

.title
{
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    
    display: inline-block;
    margin-top: 9px;
}

hr
{
    border: 1px solid var(--border_color);
    
    position: absolute;
    margin-top: auto;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}