<a class="burger" @onclick="ToggleNavigation">☰</a>

<h1 class="title"><span class="red">RU</span>NGS</h1>

<hr>

@code
{
    [Parameter]
    public EventCallback OnNavigationToggled { get; set; }
        
    async Task ToggleNavigation()
    {
        await OnNavigationToggled.InvokeAsync();
    }
}