<div class="link" @onclick="ToggleLinkClicked"><a href="">Home</a></div>
<div class="link" @onclick="ToggleLinkClicked"><a href="terms/">Terms</a></div>
<div class="link" @onclick="ToggleLinkClicked"><a href="songs/">Songs</a></div>
<div class="link" @onclick="ToggleLinkClicked"><a href="songs/test">Test</a></div>

@code
{
    [Parameter]
    public EventCallback OnLinkClicked { get; set; }
        
    async Task ToggleLinkClicked()
    {
        await OnLinkClicked.InvokeAsync();
    }
}