@inject ProfileService ProfileService

<div class="link" @onclick="ToggleLinkClicked"><a href="">Home</a></div>
<div class="link" @onclick="ToggleLinkClicked"><a href="search/">Search</a></div>
<div class="link" @onclick="ToggleLinkClicked"><a href="profile/">Profile</a></div>
<div class="link" @onclick="ToggleLinkClicked"><a href="debug/">Debug</a></div>
<br>
<div class="link">Recent Pages</div>
@foreach (Page P in ProfileService.RecentPages)
{
    <div class="link" @onclick="ToggleLinkClicked"><a href="search/@P.Category/@P.Link">@P.Name</a></div>
}

@code
{
    [Parameter]
    public EventCallback OnLinkClicked { get; set; }
        
    async Task ToggleLinkClicked()
    {
        await OnLinkClicked.InvokeAsync();
    }
    
    protected override void OnInitialized()
    {
        ProfileService.OnProfileSave += Rerender;
    }

    private void Rerender()
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        ProfileService.OnProfileSave -= Rerender;
    }
}
