<div class="link"><a>Home</a></div>
<div class="link"><a>Terms</a></div>
<div class="link"><a>Practice</a></div>
<div class="link"><a>Grammar</a></div>
<div class="link"><a>Test</a></div>
<div class="link"><a>Learn</a></div>
<div class="link"><a>Profile</a></div>
<div class="link"><a>Settings</a></div>