@inherits LayoutComponentBase

<div id="screen">
    <div id="header">
        <Header/>
    </div>
    @if (NavigationOpen)
    {
        <div id="navigation">
            <Navigation/>
        </div>
    }
    <div id="content">
        @Body
    </div>
</div>

@code
{
    public bool NavigationOpen = true;
}