@inherits LayoutComponentBase
@inject IJSRuntime Runtime

<div id="header">
    <Header OnNavigationToggled="@OnNavigationToggle"/>
</div>

<div id="container">
    @if (NavigationOpen)
    {
        <div id="navigation">
            <Navigation OnLinkClicked="@OnLinkClicked"/>
        </div>
    }
    <div id="content" class="@(NavigationOpen ? "default" : "expanded")">
        @Body
        <br>
    </div>
</div>

@code
{
    public bool NavigationOpen = true;

    protected override async Task OnInitializedAsync()
    {
        if(await IsDesktopSized())
        {
            NavigationOpen = true;
        }else
        {
            NavigationOpen = false;
        }
    }

    async Task OnNavigationToggle()
    {
        NavigationOpen = !NavigationOpen;
        await Task.Delay(0);
    }

    async Task OnLinkClicked()
    {
        if(await IsDesktopSized())
        {
            NavigationOpen = true;
        }else
        {
            NavigationOpen = false;
        }
        await Task.Delay(0);
    }

    async Task<bool> IsDesktopSized()
    {
        int Value = await Runtime.InvokeAsync<int>("getScreenWidth");
        return Value > 600;
    }
}