@inherits LayoutComponentBase

<div id="header">
    <Header NavigationOpen="@NavigationOpen" OnNavigationToggled="@OnNavigationToggle"/>
</div>

<div id="container">
    @if (NavigationOpen)
    {
        <div id="navigation">
            <Navigation/>
        </div>
    }
    <div id="content" class="@(NavigationOpen ? "default" : "expanded")">
        @Body
    </div>
</div>

@code
{
    public bool NavigationOpen = true;

    async Task OnNavigationToggle(bool Value)
    {
        NavigationOpen = Value;
        await Task.Delay(0);
    }
}