@inherits LayoutComponentBase

<div id="screen">
    <div id="header">
        <Header/>
    </div>
    <div id="navigation">
        <Navigation/>
    </div>
    <div id="content">
        @Body
    </div>
</div>