@page "/debug"

@inject DebugService Debug

<PageTitle>Debug</PageTitle>

@if(Debug.Messages.Any())
{
    <div id="textbox">
        
        <hr>
        
        @foreach (var Message in Debug.Messages)
        {
            <p class="@Message.Item2">[@Message.Item3] - @Message.Item1</p>
            
            <hr>
        }
    </div>
}