#textbox
{
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

hr
{
    margin-top: 15px;
    margin-bottom: 15px;
}

p
{
    padding-top: 4px;
    font-size: 14px;
    font-family: "Overpass Mono";
    margin: 0;
}

.error
{
    color: #FF0000;
}

.success
{
    color: #00FF00;
}