@media only screen and (max-width: 600px) 
{
    #container
    {
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
}

.title
{
    font-size: 50px;
    font-weight: bold;
    margin: 0;
}

.author
{
    font-size: 20px;
    margin: 0;
}

.highlightable:hover
{
    cursor: pointer;
    font-weight: bold;
    color: var(--content_background);
    background-color: var(--text_color);
}

.added
{
    text-decoration: underline;
    text-decoration-color: var(--text_color_red);
    text-decoration-thickness: 2px;
}