@page "/profile"
@inject ProfileService ProfileService
@inject FileService FileService

<PageTitle>Profile</PageTitle>

<p>Profile Name</p>
<input type="text" value="@ProfileService.ProfileName" @oninput="ProfileNameChanged"/>
<!--
<p>Term to add:</p>
<input type="text" @bind="TermToAdd"/>
<button @onclick="() => ProfileService.AddTerm(TermToAdd)">Add</button>

<p>Term to remove:</p>
<input type="text" @bind="TermToRemove"/>
<button @onclick="() => ProfileService.RemoveTerm(TermToRemove)">Remove</button>

<p>Clear Profile</p>
<button @onclick="() => ProfileService.ClearProfile()">Clear</button>
-->


@code
{
    //string TermToAdd = "";
    //string TermToRemove = "";

    async Task ProfileNameChanged(ChangeEventArgs e)
    {
        ProfileService.ProfileName = string.Format("{0}", e.Value);
        await ProfileService.SaveProfile();
    }
}