@page "/search"

@inject FileService FileService

<PageTitle>Search</PageTitle>

<div id="container">

    <div class="centered">
        <h1>Search</h1>

        <p>Enter search term:</p>
        <input type="text" value="@searchTerm" @oninput="SearchTermChanged" />
    </div>

    @if (searchResults.Any())
    {
        <div class="centered">
            <h2>Results:</h2>
        </div>
        
        <div style="display: flex; flex-direction: column;">
            
            <div style="display: flex; font-weight: bold;">
                <div style="flex: 1;">Title</div>
                <div style="flex: 1; text-align: right;">Author / Artist</div>
            </div>
            
            @foreach (File F in searchResults)
            {
                <a href="search/@F.URL">
                <div style="display: flex;">
                    <div style="flex: 1;">
                        <span>@F.Title @GetSymbol(F.Category)</span>
                    </div>
                    <div style="flex: 1; text-align: right;">
                        <span>@F.Author</span>
                    </div>
                </div>
                </a>
            }
        </div>
    }
    else
    {
        <p>No results found.</p>
    }
</div>

@code 
{
    string searchTerm = "";
    List<File> searchResults = new List<File>();

    protected override async Task OnInitializedAsync()
    {
        await UpdateSearch();
    }

    async Task SearchTermChanged(ChangeEventArgs e)
    {
        searchTerm = string.Format("{0}", e.Value);
        await UpdateSearch();
    }

    async Task UpdateSearch()
    {
        searchResults = await FileService.Search(searchTerm);
    }
    
    string GetSymbol(string Category)
    {
        switch (Category)
        {
            case "songs": return "♫";
            case "texts": return "🕮";
            default: return "";
        }
    }
}